.card {
  border-radius: 10px;

  &__header {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: $fontColBlack;

    & span {
      display: inline-block;
    }
  }

  &__prices {
    display: flex;
    margin-bottom: 23px;
  }

  &__prices-purchase {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    display: inline;
    margin-right: 30px;
    color: $decorColOrange;
  }

  &__prices-retail {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    display: inline;
    color: $fontColGray;
    text-decoration: line-through;
  }

  &__prices-full {
    margin-bottom: 23px;
    font-size: 16px;
    color: $fontColGray;
  }

  &__btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    @include btnTransparent;
    padding: 17px 33px;
  }

  &__tags {
    display: flex;
    margin-bottom: 16px;

    .tags__link {
      @include link (14px, 14px, $fontColGray);
    }

    .tags__link:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link-header {
    display: none;
  }

  &__badge {
    fill: none;
    width: 24px;
    height: 24px;
  }

  &__link {
    display: inline-block;
    position: relative;
    @include linkWithArrow(16px, 19px, $decorColPurple);

    .link__badge {
      position: absolute;
      right: -27px;
      top: -2px;
      width: 22px;
      height: 22px;
      color: transparent;
    }
  }
}

@media (max-width: 767px) {
  .card {
    &__header {
      margin-bottom: unset;
      margin-right: 5px;

      & span {
        display: block;
      }
    }

    &__badge {
      display: block;
      width: 22px;
      height: 22px;
    }

    &__tags {
      margin-bottom: 15px;

      .tags__link:not(:last-child) {
        margin-right: 20px;
      }
    }

    .link {
      display: none;
    }
  }

}