.hero {
  position: relative;
  background-image: url('../img/hero_back-desk.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;

  &__header {
    margin-bottom: 50px;
    color: $fontColGray;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
  }

  &__btn {
    @include btnFilled;
  }

  &__img-mobile {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    min-height: 210px;
    width: 100%;
    z-index: -1;
    background-image: url('../img/hero_back-320.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1410px) {

  .hero {
    padding: 80px 0;
    background-image: url('../img/hero_back-1024.png');
  }
}

@media (max-width: 1000px) {
  .container--hero {
    padding: 81px 72px;
  }

  .hero {
    background-image: url('../img/hero_back-768.png');
  }
}

@media (max-width: 767px) {
  .container--hero {
    height: 100%;
    display: flex;
    min-height: 334px;
    flex-direction: column;
    justify-content: space-between;
    padding: 31px 12px 31px;
  }

  .hero {
    min-height: 334px;
    padding: 30px 0;
    background-image: none;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      min-height: 272px;
    }

    &__header {
      padding: 0 18px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
    }

    &__btn {
      max-width: unset;
      width: 100%;
    }

    &__img-mobile {
      display: block;
    }
  }
}