.new {
  position: relative;
  background-image: url('../img/new_back-desk.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 155px;
  padding-bottom: 150px;

  &__img-mobile {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    min-height: 210px;
    width: 100%;
    z-index: -1;
    background-image: url(../img/new_back-320.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    margin-bottom: 47px;
  }

  &__header {
    font-family: 'Playfair Display', 'serif';
    color: $decorColorGold;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
  }

  &__text {
    color: white;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
  }

  &__btn {
    @include btnFilled;
    padding: 19px 29px;
  }

  @media (max-width: 1410px) {
    & {
      background-image: url('../img/new_back-1024.png');
    }
  }
}



@media (max-width: 1000px) {

  .new {
    background-image: url('../img/new_back-768.png');
  }

  .container--new {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 767px) {

  .new {

    padding: 18px 0;
    min-height: 320px;
    background-image: none;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 285px;
    }

    &__content {
      margin-bottom: unset;
    }

    &__header {
      padding-top: 13px;
      font-size: 24px;
      font-weight: 900;
      line-height: 29px;
    }

    &__text {
      font-size: 16px;
      font-weight: 200;
      line-height: 18px;
    }

    &__btn {
      max-width: unset;
      width: 100%;
    }

    &__img-mobile {
      display: block;
    }
  }
}