$backgColGray: #F6F6F6;
$backgColGrayBlack: #EAEAEA;

$fontColGray: #999999;
$fontColBlack: #333333;

$font-family: "Open Sans", sans-serif;

$decorColPurple: #A65CF0;
$decorColOrange: #FF862F;
$decorColorGold: #D5B986;

$priceReg: #666666;

$inputSalat: #B8EC64;

$colorPalePurp: #C998FB;
$colorBlackPurp: #7033AC;
$colorPalePink: #EBD1FF;
$colorPaleOrange: #FFBD59;
$colorWhiteOrange: #FFF5D1;
$colorBlackOrange: #BB370E;